html,
body {
    height: 100%;
    background-color: #8e979f;
    padding: 0;
    margin: 0;
}

/* Styling the wrapper */
.wrapper {
    position: relative;
    min-height: 100%;
    padding-bottom: 30px;
    overflow: auto;
}

/* Styling the footer at the bottom of the page  */
.footer {
    position: relative;
    background-image: url("../images/smokey.jpeg");
    min-height: 230px;
    margin-top: 20px;
    background-attachment: relative;
    background-position: center;
}

/* Styling the navbar icon, logos, and dropdown menu */
.navbar {
    padding: 32px;
    background: black;
}

.nav-fire-icon {
    position: fixed;
    left: 5px;
    top: 5px;
}

.logo {
    position: fixed;
    left: 50px;
    top: 1px;
    font-size: 40px;
    color: red;
    font-family: Arial, Helvetica, sans-serif;
}

.logo1 {
    position: fixed;
    left: 52px;
    top: 42px;
    font-size: 18px;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.dropbtn {
    position: fixed;
    right: 5px;
    padding: 7px;
    min-width: 90px;
    color: white;
    background-color: rgb(255, 0, 0);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    border-color: white;
}

.dropdown {
    position: fixed;
    right: 5px;
    top: 10px;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: fixed;
    top: 60px;
    right: 5px;
    background-color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    min-width: 90px;
}

.dropdown-content a {
    color: #000;
    display: block;
    padding: 10px 20px;
    text-decoration: none;
}

/* Adding hover feature for the dropdown menu */
.dropdown-content a:hover {
    background-color: #fda06a;
}
.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown:hover .dropbtn {
    background-color: #fda06a;
}

/* Styling the header parallax */
.parallax-header {
    background-image: url("../images/trees1.jpeg");
    min-height: 1200px;
    margin-top: 20px;
    margin: 0;
    padding: 10px;
    background-attachment: fixed;
    background-position: bottom;
    background-size: cover;
}

.parallax-header h1 {
    position: relative;
    text-align: center;
    top: 550px;
    text-decoration: bold;
    font-size: 150px;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.parallax-header p {
    position: relative;
    text-align: center;
    top: 550px;
    left: 200px;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 40px;
}

/* input placeholder color changes */
.form-control::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #8e979f;
}
  
.form-control::-moz-placeholder {
    /* Firefox 19+ */
    color: #8e979f;
}
  
.form-control:-ms-input-placeholder {
    /* IE 10+ */
    color: #8e979f;
}
  
.form-control:-moz-placeholder {
    /* Firefox 18- */
    color: #8e979f;
}

/* media queries which will only be activated at specific screen sizes */
@media (max-width: 800px) {
    #table-area td {
      font-size: 1em;
    }
  }
  
  @media (max-width: 500px) {
    #table-area thead {
      display: none;
    }
}

/* Styling the graphs */
#heatmap {
    position: relative;
    height: 100%;
    padding: 0;
    margin: 0;
}

#heatmap h1 {
    position: relative;
    text-align: center;
    font-size: 70px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#heatmap h2 {
    position: relative;
    text-align: center;
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.legend {
    padding: 10px;
    font-family: Sanchez, serif;
    font-size: 16px;
    font-weight: bold;
    line-height: 18px;
    color: #555;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.legend .low {
    color: #ec8a2e;
}

.legend .empty {
    color: #a0353a;
}

.legend .coming-soon {
    color: #f4ba48;
}

.legend .healthy {
    color: #1b904f;
}

.legend .out-of-order {
    color: #007dff;
}