<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>Oregon Wildfire Heatmap</title>
        <!-- Bootstrap CSS -->
        <link 
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous"
        />
        <!-- Google Font -->
        <link href="https://fonts.googleapis.com/css?family=Sanchez" rel="stylesheet">

        <!-- Leaflet CSS -->
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.3/dist/leaflet.css"
        integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="
        crossorigin=""/>

        <!-- Icons -->
        <link rel="stylesheet" type="text/css" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
        <link rel="stylesheet" href="../static/css/leaflet.extra-markers.min.css">

        <!-- Our CSS -->
        <link rel="stylesheet" type="text/css" href="../static/css/graphs.css">
    </head>

    <body>
        <div class="wrapper">
            <div class="col-md-12">
                <div class="row">
                    <nav class="navbar navbar-expand-lg navbar-light fixed-top">
                        <div class="container-fluid">
                            <a class="navbar-brand" href="../templates/index.html">
                                <img class="nav-fire-icon" src="../static/images/fire_icon.png" width="50"><span class="logo">Oregon Wildfires</span>
                                <span class="logo1">don't play with fireworks, kids</span>
                            </a>
                            <div class="container-fluid">
                                <div class="dropdown">
                                    <button class="dropbtn">
                                        Menu
                                    </button>
                                    <div class="dropdown-content">
                                        <a href="../templates/index.html">Home</a>
                                        <a href="#">Stats</a>
                                        <a href="#">Images</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
            <div class="parallax-header text-center">
                <h1>WILDFIRES</h1>
                <p>only YOU can prevent them.</p>
            </div>
        </div>
        <!-- The div that holds our heatmap in graphs.js -->
        <div id="heatmap"></div>
            <h1>Oregon Wildfires</h1>
            <h2>Heat Intensity for Acerage Burned (2011 to 2021)</h2>

        <!-- D3 -->
        <script scr="https://d3js.org/d3.v5.min.js"></script>

        <!-- MomentJS -->
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.15.1/moment.min.js"></script>

        <!-- Leaflet JavaScript -->
        <script src="https://unpkg.com/leaflet@1.3.3/dist/leaflet.js"
        integrity="sha512-tAGcCfR4Sc5ZP5ZoVz0quoZDYX5aCtEm/eu1KhSLj2c9eFrylXZknQYmxUssFaVJKvvc0dJQixhGjG2yXWiV9Q=="
        crossorigin=""></script>

        <!-- Icons -->
        <script src="../static/css/leaflet.extra-markers.min.css"></script>

        <!-- polyfill.io is a library for using newer JavaScript features in older browsers (such as Object.assign) -->
        <script src="https://cdn.polyfill.io/v2/polyfill.min.js"></script>

        <!-- API Key -->
        <script type="text/javascript" src="../static/js/mapboxConfig.js"></script>

        <!-- Our JavaScript -->
        <script type="text/javascript" src="../static/js/graphs.js"></script>

        <footer class="footer"></div>
        <script src="../static/js/mapboxConfig.js"></script>
        <!-- Leaflet JS -->
        <script src="https://unpkg.com/leaflet@1.3.3/dist/leaflet.js" integrity="sha512-tAGcCfR4Sc5ZP5ZoVz0quoZDYX5aCtEm/eu1KhSLj2c9eFrylXZknQYmxUssFaVJKvvc0dJQixhGjG2yXWiV9Q==" crossorigin=""></script>
        <!-- D3 CDN -->
        <script src="https://d3js.org/d3.v5.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
        <script src="../static/js/leaflet-heat.js"></script>
        <script src="../static/js/graphs.js"></script>
    </body>
</html>